@font-face {
  font-family: LatoLight;
  src: url("fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBlack;
  src: url("fonts/Lato-Black.ttf");
}

body {
  background-color: #37424f;
  margin: 0;
  font-family: LatoLight;
}

.widget{
  background-image: url("images/Paris.png");
  background-size: cover;
  max-width: 696px;
  max-height: 435px;
  width: 100vw;
  height: 62.5vw;
  font-family: LatoLight;
  color: #ffffff;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 716px) {
  .widget {
     font-size: 30px;
  }
  body{
    margin: 8px;
  }
}

.today{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 75%;
}

.date, .today-info{
  padding-top: 24.5%;
  height: 75.5%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.today .date{
  padding-right: 4%;
}
.today .today-info{
  padding-right: 11%;
  width: 20.4%;
}

.today .date .day-of-week {
  font-size: 1em;
}

.today .date .month-day {
  font-size: 0.5em;
}

.today .today-info .degrees {
  font-size: 3em;
  padding-bottom: 6%;
  margin-bottom: 3%;
  font-family: LatoBlack;
  line-height: 0.9;
}

.today .today-info .city {
  padding-bottom: 7%;
  font-size: 0.8em;
}

.today .today-info .wind {
  font-size: 0.43em;
  font-family: LatoBold;
  width: 100%;
}

.wind img{
  max-width: 43px;
  max-height: 27px;
  width: 6.18vw;
  height: 3.88vw;
}

.wind-speed-number{
  padding-left: 7%;
  padding-right: 3.5%;
  font-size: 2.23em;
}

.week{
  opacity: 0.95;
  height: 24.8%;
  width: 100%;
  background: rgba(45, 38, 52, 0.4);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.week ol{
  height: 75%;
  width: 62.6%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 10%;
  margin-bottom: 13%;
  padding: 0;
}

.week ol li{
  font-size: 0.5em;
  height: 100%;
  padding-right: 6.9%;
  padding-left: 6.9%;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.6);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.week ol :first-child{
  padding-left: 0;
}

.week ol :last-child {
  border-right: 0;
  padding-right: 0;
}

.week ol img {
  display: block;
  margin: 0 auto;
}

.cloudy {
  max-width: 41px;
  max-height: 25px;
  width: 5.8vw;
  height: 3.6vw;
}

.sunny{
  max-width: 37px;
  max-height: 35px;
  width: 5.3vw;
  height: 5vw;
}

.rainy{
  width: 5.5vw;
  height: 5.2vw;
  max-width: 38px;
  max-height: 36px;
}

.overcast{
  width: 6.9vw;
  height:5vw;
  max-width: 48px;
  max-height: 35px;
}

.week button{
  border: 0;
  height: 17.6%;
  width: 1.6%;
  font-size: 0;
  flex-grow: 1;
}
.button-back{
  background: url("images/Back.png") right no-repeat;
  padding-left: 8.6%;
}

.button-next{
  background: url("images/Next.png") left no-repeat;
  padding-right: 8.6%;
}

.params {
  color: #ffffff;
}

.params button {
  color: black;
}

.radio-block[disabled] {
  opacity: 0.4;
}
