@font-face {
  font-family: LatoLight;
  src: url("fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBlack;
  src: url("fonts/Lato-Black.ttf");
}

body {
  background-color: #37424f;
}

.widget{
  background-image: url("images/Paris.png");
  width: 696px;
  height: 435px;
  font-family: LatoLight;
  color: #ffffff;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.today{
  padding-top: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: inherit;
}
.wind-speed-number{
  padding-left: 10px;
  padding-right: 5px;
  font-size: 29px;
}

.date, .today-info{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.today .date{
  padding-right: 30px;
  padding-top: 15px;
}

.today .date :first-child {
  font-size: 30px;
}

.today .date :nth-child(2) {
  font-size: 15px;
}
.today-info{
  padding-right: 50px;
}

.today .today-info :first-child {
  font-size: 90px;
  font-family: LatoBlack;
}

.today .today-info :nth-child(2) {
  padding-bottom: 15px;
}

.today .today-info :nth-child(3) {
  font-size: 13px;
  font-family: LatoBold;
}

.week{
  opacity: 0.95;
  height: 108px;
  width: inherit;
  background: rgba(45, 38, 52, 0.4);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.week ol{
  height: 90px;
  width: 480px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-flex;
  flex-direction: row;
  justify-content:flex-start;
  list-style-type: none;
}

.week ol img {
  display: block;
  margin: 0 auto;
}

.week ol li{
  font-size: 15px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  height: inherit;
  border-right: 1px solid rgba(255,255,255,0.6);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.week ol :last-child {
  border-right: 0px;
}
.week button{
  border: 0;
  height: 19px;
  width: 11px;
  font-size: 0;
  flex-grow: 1;
}
.button-back{
  background: url("images/Back.png") right no-repeat;
}

.button-next{
  background: url("images/Next.png") left no-repeat;
}
